<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add name="httpplatformhandler"
           path="*"
           verb="*"
           modules="HttpPlatformHandler"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <httpPlatform
      processPath="d:\E\Team Members\Programmers\Vora.Twinkal\New folder\akadit\venv\Scripts\python.exe"
      arguments="-m uvicorn main:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT%"
      stdoutLogEnabled="true"
      stdoutLogFile=".\log\stdout.log"
      startupTimeLimit="120"
      processesPerApplication="1">

      <environmentVariables>
        <environmentVariable name="PYTHONPATH"
                             value="d:\E\Team Members\Programmers\Vora.Twinkal\New folder\akadit" />
        <environmentVariable name="ENV"
                             value="production" />
      </environmentVariables>

    </httpPlatform>

  </system.webServer>
</configuration>
